<section class=" job-bg ad-details-page">
	<div class="container">

		<div class="breadcrumb-section">
			<!-- breadcrumb -->
			<ol class="breadcrumb">
				<li>
					<a routerLink="/home">Home</a>
				</li>
				<li>About Us </li>
			</ol>
			<!-- breadcrumb -->
			<h2 class="title">About Us</h2>
		</div>
		<!-- banner -->

		<div class="job-postdetails post-resume">

			<div class="row">
				<div class="col-md-8 clearfix">

					<fieldset>
						<div class="section career-objective">

							<div class="form-group">
								<div class="job-postdetails">
									<div class="section job-postdetails">
										<div class="description-info">
											<p>Sankeerthi Staffing Solutions is HR solutions company with a focus on Executive Search, Recruitment, Training
												& Learning and Temporary Staffing services to client organisations. It is headed by a seasoned HR professional
												with a team of experts for each domain and sectors.</p>

											<p>The expert team is dedicated to screen and provide appropriate staffing solutions, be it recruitment or talent
												development of your Human Resource. We stay connected with our client as a Strategic Business Partner in Restructuring
												the organisation and Overall Organisational Development.</p>

											<p>As a group of search professionals, we have a unique approach to your organisational needs and you are assured
												of high quality services consistently. </p>

										</div>

									</div>
								</div>

							</div>

						</div>
					</fieldset>

					<!-- form -->
				</div>

				<!-- quick-rules -->
				<div class="col-md-4">
					<div class="section quick-rules">
						<h1>Our Industry Practice :</h1>
						<div class="row">
							<div class="col-md-6">
								<ul>
									<li>Aerospace </li>
									<li>Automotive</li>
									<li>Banking & Insurance</li>
									<li>Consumer & Services</li>
									<li>Education</li>
									<li>Engineering </li>
									<li>FMCG</li>

								</ul>
							</div>
							<div class="col-md-6">
								<ul>
									<li>Infrastructure</li>
									<li>Information Technology</li>
									<li>Media & Entertainment</li>
									<li>Pharma & Health care</li>
									<li>Technology</li>
									<li>Telecom</li>
									<li>Global Outsourcing</li>
								</ul>
							</div>
						</div>
						<ul class="share-social">
							<li>
								<a routerLink="/contact">
									<i class="fa fa-facebook-official" aria-hidden="true"></i>
								</a>
							</li>
							<li>
								<a routerLink="/contact">
									<i class="fa fa-twitter-square" aria-hidden="true"></i>
								</a>
							</li>
							<li>
								<a routerLink="/contact">
									<i class="fa fa-google-plus-square" aria-hidden="true"></i>
								</a>
							</li>
							<li>
								<a routerLink="/contact">
									<i class="fa fa-linkedin-square" aria-hidden="true"></i>
								</a>
							</li>
						</ul>
					</div>

				</div>

				<!-- quick-rules -->
			</div>
			<!-- photos-ad -->
		</div>
	</div>
	<!-- <div>Value: {{ postresumeForm.value | json }}</div> -->

	<!-- container -->
</section>