<section class=" job-bg ad-details-page">
		<div class="container">
	  
		  <div class="breadcrumb-section">
			<!-- breadcrumb -->
			<ol class="breadcrumb">
			  <li>
				<a routerLink="/home">Home</a>
			  </li>
			  <li>Contact Us</li>
			</ol>
			<!-- breadcrumb -->
			<h2 class="title">CONTACT US</h2>
		  </div>
		  <!-- banner -->
	  
		  <div class="job-postdetails post-resume">
			  
			<div class="row">
			  <div class="col-md-12 clearfix ">
				
				  <fieldset>
					 
					<div class="section">
					  
					  <div class="form-group ">
							
							<!-- <div class="section job-postdetails back"> -->
									<div class="description-info col-md-6">
											<h1>CORPORATES :</h1>
											<p >
													Would you like us to assist in your search for premium talent?</p>			
											<h5 style="color:cadetblue"><b>CONTACT US</b></h5>
											<p>
												<b>	Phone  : +91 99520 37879												
												 </b>

											</p>		
											<p>
												<b>E  : client@abcconsultsnts.in</b>
											</p>		
									</div>		
									<div class="description-info  col-md-6">
											<h2>CANDIDATES :</h2>
											<p>
												Are you looking for the right career opportunity? Submit your resume</p>			
										   
											<p>
												<b>	E  : candidate@abcconsultsnts.in												
												 </b>

											</p>	
											<h5 style="color:cadetblue"><b>BEWARE :</b></h5>	
											<p>
												<b>Fraudulent recruitment activity</b>
											</p>		
									</div>							
		
								<!-- </div> -->
							
						 
					  </div>
					 
					</div>				
				  </fieldset>
				
				<!-- form -->				
			  </div>			 
			 
			 
			</div>
			<div class="row">
 <!-- quick-rules -->
 <div class="col-md-12">
	<div class="section ">
			<h1>Contact Us:</h1>
			<div class="col-md-6">
					<h5 style="color:cadetblue"><b> TRICHY</b> </h5>
				<ul>							
						
					<li>No.64, Sri Krishna Complex, IIIrd floor,</li>
					<li>(Near Anna Statue), Opposite to ER High School,</li>
					<li>Trichy – 620 002</li>								
					<li>Phone : +91 99520 37879	</li>
					<li>Website : <a href="sankeerthi.in">sankeerthi.in</a></li>					
					<li>Email : ______@sankeerthi.in</li>
											
						
				</ul>
			</div>
			<div class="col-md-6">
					<h5 style="color:cadetblue"><b> CHENNAI</b> </h5>
			<ul>	

				<li>No.64, Sri Krishna Complex, IIIrd floor,</li>
				<li>(Near Anna Statue), Opposite to ER High School,</li>
				<li>Trichy – 620 002</li>								
				<li>Phone : +91 99520 37879	</li>
				<li>Website : <a href="sankeerthi.in">sankeerthi.in</a></li>					
				<li>Email : ______@sankeerthi.in</li>
										
					
			</ul>
		</div>
			<!-- <ul class="share-social">
				<li>
					<a routerLink="/contact">
						<i class="fa fa-facebook-official" aria-hidden="true"></i>
					</a>
				</li>
				<li>
					<a routerLink="/contact">
						<i class="fa fa-twitter-square" aria-hidden="true"></i>
					</a>
				</li>
				<li>
					<a routerLink="/contact">
						<i class="fa fa-google-plus-square" aria-hidden="true"></i>
					</a>
				</li>
				<li>
					<a routerLink="/contact">
						<i class="fa fa-linkedin-square" aria-hidden="true"></i>
					</a>
				</li>
			</ul> -->
	</div>

</div>
<!-- quick-rules -->
			</div>
			<!-- photos-ad -->
		  </div>
		</div>
		<!-- <div>Value: {{ postresumeForm.value | json }}</div> -->
		
		<!-- container -->
	  </section>






















































































