<section class=" job-bg page  ad-profile-page">
	<div class="container">
		<div class="breadcrumb-section">
			<ol class="breadcrumb">
				<li>
					<a routerLink="/home">Home</a>
				</li>
				<li>Service</li>
			</ol>
			<h2 class="title">SERVICES OFFERED</h2>
		</div>
		<!-- breadcrumb-section -->
		<div class="resume-content">

			<div class="work-history section">
				<!-- <div class="icons">
			            <i class="fa fa-briefcase" aria-hidden="true"></i>
			        </div>    -->
				<div class="work-info">
					<!-- <h3>Services</h3> -->
					<ul>
						<li>
							<h4 class="staffhead">STAFFING  </h4>
							<p>We commence our assignment by understanding the business goals; short-term and long-term objectives of the organisation.
								This would help us in understanding the multiple business needs of the organisation and source right-fit talent in
								a short lead time.</p>
						</li>
						<div class="row">
							<div class="col-md-6">
								<li>
									<h4>PERMANENT STAFFING :</h4>
									<p>We customise our search based on the Job specification, key-deliverables of the position and source TOP talents.
										We source candidates from a data-base of mixed talents, and through networking. Our success ratio has been high
										due to the clear understanding of the organisation needs. We also have association with various educational institutions
										for providing Freshers through Campus or Off-campus recruitments.</p>
								</li>
							</div>
							<div class="col-md-6">
								<li>
									<h4>EXECUTIVE SEARCH : </h4>
									<p>Our Executive Serach focus on Leadership hiring even upto Board level. We first understand the Organisation’s strategic
										goals, Organisation Culture, Specific leadership skills, Competencies to meet the goals. We have an exclusive dedicated
										experts for Executive Search with across various industry segments.</p>
								</li>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<li>
									<h4 >OFF-ROLE STAFFING : </h4>
									<p>
										In the existing volatile business scenario, management strives to reduce the burden on employee cost to maintain competitive
										edge in the industry. As a result, organisations maintain only Core positions and we assist our client in staffing
										the non-core positions on our pay-rolls.
									</p>
								</li>
							</div>
							<div class="col-md-6">
								<li>
									<h4>TEMPORARY STAFFING : </h4>
									<p>We provide staffs for temporary positions, falling vacant due to permanent staff proceeding on Maternity Leave or
										Long vacation or short-term deputation abroad.</p>
								</li>
							</div>
						</div>
					</ul>
				</div>
			</div>


		</div>
		<div class="resume-content">

			<div class="work-history section">
				<!-- <div class="icons">
							<i class="fa fa-briefcase" aria-hidden="true"></i>
						</div>    -->
				<div class="work-info">
					<!-- <h3>Services</h3> -->
					<ul>
						<li>
							<h4 class="staffhead">ORGANISATIONAL DEVELOPMENT  </h4>
							<p>In this competitive business scenario, continuous development or Organisation resources becomes imperative. Continuous
								improvement through innovation is the key to remain dominant in the industry. This would also increase the retention
								of your Human Resource as they are motivated due to their personal and organisational development.</p>
						</li>
						<div class="row">
							<div class="col-md-6">
								<li>
									<h4>TRAINING :</h4>
									<p>Enhancement of Skills of your workforce is vital for sustained growth of any organisation. Your employees need to
										have an updated knowledge of new techniques and skills about the industry. We impart on-site trainings and conduct
										public workshops for the benefit of the industry. We cover various topics of technical, behavioural and soft skills.</p>
								</li>
							</div>
							<div class="col-md-6">
							<li>
								<h4>TRANSFORMATIONAL PROJECTS : </h4>
								<p> Organisations are always striving to improve their presence and performance. For sustainable performance, Organisation
									need to develop Leaders who can be part of Transformational management. We partner our client in designing customised
									Development Projects to handle the Change Management.</p>
							</li>
						</div>
				</div>
				</ul>
			</div>
		</div>


	</div>

	</div>
</section>
<style>
	.staffhead
	{
		color: brown;
		font-size: 2em;
	}
</style>